body {
  padding: 2rem;
  height: 100vh;
  background-image: url('../images/bg-adalab.png');
  background-color: $color-bg;
  font-family: $font-main;
}
.section__main {
  background-color: bisque;
  height: 50vh;
  justify-content: center;
}
.text {
  width: 40%;
  margin: auto;
}
.section_secondary {
  background-color: saddlebrown;
}
.button {
  background-color: red;
  border-radius: 5px;
  height: 45px;
}
